<div class="wrapper">
  <div class="headline">
    <h1>Caesar's Cipher</h1>
  </div>
  <div class="row">
      <input type="text" name="caesar[phrase]" placeholder="Enter your phrase here" id="phrase" value="" />
      <input type="text" name="caesar[step]" placeholder="Step" id="step" value="" />
      <button type="submit">Encode!</button>
  </div>

  <div class="message">
    <p>Message</p>
  </div>

</div>
